body {
  margin: 0;
}

.pageContent {
  height: calc(100vh - 56px);
  padding-top: 56px; /* this should be made responsive: on big screens the bar is 64px */
  overflow: auto;
  width: 100%;
}

.exerciseCard {
  margin: 5px 10px;
  padding: 5px;
}
